<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.raths.sys.mapper.PermissionMapper">
    <!--保存对象-->
    <insert id="save" parameterType="Permission" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_permission(
                            name,
                            url,
                            descs,
                            sn
        ) values(
                #{name},
                #{url},
                #{descs},
                #{sn}        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_permission where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Permission">
        update t_permission
        set

                            name = #{name},
                            url = #{url},
                            descs = #{descs},
                            sn = #{sn}        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultType="Permission" parameterType="long">
        select * from t_permission where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultType="Permission">
        select * from t_permission
    </select>
    <!--根据sn加载对象-->
    <select id="loadBySn" resultType="Permission">
        select * from t_permission where sn = #{sn}
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryCount" parameterType="PermissionQuery" resultType="int">
        select count(id) from t_permission
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryList" parameterType="PermissionQuery" resultType="Permission">
        select * from t_permission
        <include refid="whereSql"/>
        limit #{begin},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchDel" parameterType="arraylist">
        delete from t_permission where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.raths.sys.domain.Permission">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="descs" property="descs" />
        <result column="sn" property="sn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
        name, url, descs, sn
    </sql>

    <!--查询角色对应的权限ID-->
    <select id="loadByRoleId" resultType="Permission">
        select tp.* from t_role_permission trp
            join t_permission tp on tp.id = trp.permission_id
        where trp.role_id = #{rId}
    </select>
  <!--查询角色对应的权限ID-->
    <select id="loadPermissionByLogininfoId" resultType="java.lang.String">
        select tp.sn from t_employee e
            join t_employee_role ter on e.id = ter.employee_id
            join t_role_permission trp on ter.role_id = trp.role_id
            join t_permission tp on trp.permission_id = tp.id
        where e.logininfo_id = #{logininfoId}
    </select>

</mapper>
