<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.raths.sys.mapper.RoleMapper">
    <!--保存对象-->
    <insert id="save" parameterType="Role" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_role(
                            name,
                            sn
        ) values(
                #{name},
                #{sn}        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_role where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Role">
        update t_role
        set

                            name = #{name},
                            sn = #{sn}        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select tr.*, tm.id tmId, tm.parent_id tmParentId
        from t_role tr
             left join t_role_menu trm on tr.id = trm.role_id
             left join t_menu tm on trm.menu_id = tm.id
        where tr.id = #{id}
    </select>

    <!--加载所有对象-->
    <select id="loadAll" resultType="Role">
        select * from t_role
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryCount" parameterType="RoleQuery" resultType="int">
        select count(tr.id) from t_role tr
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryList" parameterType="RoleQuery" resultMap="BaseResultMap">
        select tr.* from t_role tr
        <include refid="whereSql"/>
        limit #{begin},#{pageSize}
    </select>



    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (tr.name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchDel" parameterType="arraylist">
        delete from t_role where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.raths.sys.domain.Role">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="sn" property="sn" />
        <collection property="ownMenus" ofType="Menu">
            <id column="tmId" property="id"></id>
            <result column="tmParentId" property="parentId"></result>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,name, sn
    </sql>
    <delete id="removeRoleMenu">
        delete from t_role_menu where role_id = #{roleId}
    </delete>
    <delete id="removeRolePermission">
        delete from t_role_permission where role_id = #{roleId}
    </delete>

    <insert id="saveRoleMenu">
        insert into t_role_menu(role_id,menu_id) values
        <foreach collection="mIds" item="mId" separator=",">
            (#{rId},#{mId})
        </foreach>
    </insert>
    <insert id="saveRolePermission">
        insert into t_role_permission values
        <foreach collection="pIds" item="pId" separator=",">
            (#{rId},#{pId})
        </foreach>
    </insert>

    <!--根据员工id查询角色集合-->
    <select id="loadByEmpId" resultType="Role">
        select tr.* from t_employee_role ter
            join t_role tr  on tr.id = ter.role_id
        where ter.employee_id = #{eId}
    </select>
</mapper>
