<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.raths.sys.mapper.TemdictionaryDetailMapper">
    <!--查询所有-->
    <select id="loadAll" resultType="TemdictionaryDetail">
        select * from t_systemdictionaryDetail
    </select>

    <!--根据id查询-->
    <select id="loadById" resultType="TemdictionaryDetail">
        select * from t_systemdictionaryDetail where id = #{id}
    </select>

    <select id="loadByTypesId" resultType="TemdictionaryDetail">
        select * from t_systemdictionaryDetail where types_id = #{types_id}
    </select>

    <!--根据id删除-->
    <delete id="remove">
        delete
        from t_systemdictionaryDetail
        where id = #{id}
    </delete>

    <!--修改-->
    <update id="update">
        update t_systemdictionaryDetail set
                  name=#{name},
                  types_id=#{types_id}
        where id = #{id}
    </update>
    <!--添加-->
    <insert id="save">
        insert into t_systemdictionaryDetail (name,types_id)
        values (#{name}, #{types_id});
    </insert>

    <resultMap id="queryListResultMap" type="TemdictionaryDetail">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="types_id" column="types_id"></result>
    </resultMap>

    <sql id="queryListWhere">
        <where>
            <if test="types_id != null">
                and types_id = #{types_id}
            </if>
        </where>
    </sql>
    <!--高级查询-->
    <select id="queryList" resultMap="queryListResultMap">
        select *
        from t_systemdictionaryDetail
        <include refid="queryListWhere"></include>
        limit #{begin}, #{pageSize}
    </select>

    <!-- 当前查询总条数 -->
    <select id="queryCount" resultType="int">
        select count(id) from t_systemdictionaryDetail
        <include refid="queryListWhere"></include>
    </select>

    <delete id="patchDel">
        delete from t_systemdictionaryDetail where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="patchDelByTypesId">
        delete from t_systemdictionaryDetail where types_id in
        <foreach collection="array" item="types_id" open="(" close=")" separator=",">
            #{types_id}
        </foreach>
    </delete>
    <delete id="removeByTypesId">
        delete from t_systemdictionaryDetail where types_id = #{types_id}
    </delete>

</mapper>