<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.raths.org.mapper.DepartmentMapper">
    <!--查询所有-->
    <select id="loadAll" resultType="Department">
        select * from t_department
    </select>

    <!--根据id查询-->
    <select id="loadById" resultType="Department">
        select * from t_department where id = #{id}
    </select>

    <!--根据id删除-->
    <delete id="remove">
        delete
        from t_department
        where id = #{id}
    </delete>

    <!--修改-->
    <update id="update">
        update t_department set
                        sn=#{sn},
                        name=#{name},
                        dirPath=#{dirPath},
                        state=#{state},
                        <if test="manager == null">
                            manager_id=#{managerId},
                        </if>
                        <if test="manager != null">
                            manager_id=#{manager.id},
                        </if>
                        <if test="parent == null">
                            parent_id=#{parentId}
                        </if>
                        <if test="parent != null">
                            parent_id=#{parent.id}
                        </if>

        where id = #{id}
    </update>
    <!--添加-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_department (
                    sn
                    ,name
                    ,dirPath
                    ,state
                    ,manager_id
                    ,parent_id
        )
        values (
                #{sn},
                #{name},
                #{dirPath},
                #{state},
                #{manager.id},
                #{parent.id}
               );
    </insert>

    <resultMap id="queryListResultMap" type="Department">
        <id property="id" column="id"></id>
        <result property="sn" column="sn"></result>
        <result property="name" column="name"></result>
        <result property="dirPath" column="dirPath"></result>
        <result property="state" column="state"></result>
        <result property="managerId" column="manager_id"></result>
        <result property="parentId" column="parent_id"></result>
        <association property="manager" javaType="Employee">
            <id property="id" column="eId"></id>
            <result property="username" column="eName"></result>
        </association>
        <association property="parent" javaType="Department">
            <id property="id" column="pId"></id>
            <result property="name" column="pName"></result>
        </association>
    </resultMap>

    <sql id="queryListWhere">
        <where>
            <if test="keyword != null and !''.equals(keyword.trim())">
                and d.name like concat('%',#{keyword},'%')
                or d.sn like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <!--高级查询-->
    <select id="queryList" resultMap="queryListResultMap">
        select d.*, e.id eId, e.username eName, p.id pId, p.name pName
        from t_department d
        left join t_employee e on d.manager_id = e.id
        left join t_department p on d.parent_id = p.id
        <include refid="queryListWhere"></include>
        limit #{begin}, #{pageSize}
    </select>

   <!-- 当前查询总条数 -->
    <select id="queryCount" resultType="int">
        select count(d.id) from t_department d
        <include refid="queryListWhere"></include>
    </select>

    <delete id="patchDel">
        delete from t_department where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>