<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.raths.org.mapper.ShopAuditLogMapper">
    <!--保存对象-->
    <insert id="save" parameterType="ShopAuditLog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_shop_audit_log(
                            shop_id,
                            audit_id,
                            audit_time,
                            note
        ) values(
                #{shopId},
                #{auditId},
                #{auditTime},
                #{note}        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_shop_audit_log where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="ShopAuditLog">
        update t_shop_audit_log
        set

                            shop_id = #{shopId},
                            audit_id = #{auditId},
                            audit_time = #{auditTime},
                            note = #{note}        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultType="ShopAuditLog" parameterType="long">
        select * from t_shop_audit_log where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultType="ShopAuditLog">
        select * from t_shop_audit_log
    </select>
    <!--根据shopID加载所有对象-->
    <select id="getByShopId" resultMap="BaseResultMap">
        select l.*, e.id eId,e.username eUsername,s.id sId,s.name sName from t_shop_audit_log  l
            left join t_shop s on l.shop_id = s.id
            left join t_employee e on l.audit_id = e.id
        where l.shop_id = #{shopId}
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryCount" parameterType="ShopAuditLogQuery" resultType="int">
        select count(id) from t_shop_audit_log
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryList" parameterType="ShopAuditLogQuery" resultType="ShopAuditLog">
        select * from t_shop_audit_log
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchDel" parameterType="arraylist">
        delete from t_shop_audit_log where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.raths.org.domain.ShopAuditLog">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="audit_id" property="auditId" />
        <result column="audit_time" property="auditTime" />
        <result column="note" property="note" />
        <association property="shop" javaType="Shop">
            <id column="sId" property="id"></id>
            <result column="sName" property="name"></result>
        </association>
        <association property="manager" javaType="Employee">
            <id column="eId" property="id"></id>
            <result column="eUsername" property="username"></result>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
        shop_id, audit_id, audit_time, note
    </sql>

</mapper>
