<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.raths.user.mapper.UserMapper">
    <!--保存对象-->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user(
                            username,
                            phone,
                            email,
                            salt,
                            password,
                            state,
                            age,
                            createtime,
                            headImg,
                            logininfo_id
        ) values(
                #{username},
                #{phone},
                #{email},
                #{salt},
                #{password},
                #{state},
                #{age},
                #{createtime},
                #{headImg},
                #{logininfoId}        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_user where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="User">
        update t_user
        set

                            username = #{username},
                            phone = #{phone},
                            email = #{email},
                            salt = #{salt},
                            password = #{password},
                            state = #{state},
                            age = #{age},
                            createtime = #{createtime},
                            headImg = #{headImg},
                            logininfo_id = #{logininfoId}        where id = #{id}
    </update>
    <!--根据logininfoId加载对象-->
    <select id="loadByLogininfoId" resultType="User">
        select * from t_user where logininfo_id = #{logininfoId}
    </select>
    <!--加载对象-->
    <select id="loadById" resultType="User" parameterType="long">
        select * from t_user where id = #{id}
    </select>
    <!--通过电话加载对象-->
    <select id="loadByPhone" resultType="User">
        select * from t_user where phone = #{phone}
    </select>
     <!--通过邮箱加载对象-->
    <select id="loadByEamil" resultType="User">
        select * from t_user where email = #{email}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultType="User">
        select * from t_user
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryCount" parameterType="UserQuery" resultType="int">
        select count(id) from t_user
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryList" parameterType="UserQuery" resultType="User">
        select * from t_user
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchDel" parameterType="arraylist">
        delete from t_user where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.raths.user.domain.User">
    <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="salt" property="salt" />
        <result column="password" property="password" />
        <result column="state" property="state" />
        <result column="age" property="age" />
        <result column="createtime" property="createtime" />
        <result column="headImg" property="headImg" />
        <result column="logininfo_id" property="logininfoId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
        username, phone, email, salt, password, state, age, createtime, headImg, logininfo_id
    </sql>

</mapper>
